@header()

<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4" id="login-box">
			<form>
				<div class="form-group">
					<label for="email">Email:</label>
					<input type="email" class="form-control" id="email" placeholder="email@@example.com">
				</div>
				<div>
					<label for="password">Password:</label>
					<input type="password" class="form-control" id="password" placeholder="Password">
				</div>
				<div>
					<label for="confirmpassword">Confirm Password:</label>
					<input type="password" class="form-control" id= "confirmpassword" placeholder="Password">
				</div>
				<button type="submit" class="btn btn-primary pull-right js-register-button">Register</button>
			</form>
		<div class="alert">
		</div>
		</div>
	</div>
</div>

@footer()